.catalogue-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
}

.catalogue-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.catalogue-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.catalogue-item {
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 300px;
    text-align: left;
}

.catalogue-item iframe {
    width: 100%;
    height: 400px;
    border: none;
}

.btn-download {
    display: block;
    background-color: #571F63;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-download:hover {
    background-color: #52c735;
}


/* Page des réalisations */
.realisations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.realisation {
    position: relative;
    flex: 1 1 calc(33.333% - 30px); /* Taille flexible pour s'adapter à l'espace disponible */
    max-width: calc(33.333% - 30px);
    aspect-ratio: 16 / 9; /* Maintenir un ratio d'aspect pour toutes les images */
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #f0f0f0; /* Pour éviter les flashs de fond */
}

.realisation img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que l'image couvre toute la div */
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.realisation .overlay-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.realisation .overlay-custom .title {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}

.realisation:hover,
.realisation:active {
    transform: scale(1.05);
}

.realisation:hover .overlay-custom,
.realisation:active .overlay-custom {
    opacity: 1;
}

@media (max-width: 768px) {
    .realisations {
        flex-direction: column;
        align-items: center;
    }

    .realisation {
        width: 90%;
        margin-bottom: 20px;
    }
}
/* CSS pour le conteneur du logo */

.logo-container {
    max-width: 50%;
    padding: 20px; /* Ajouter des marges intérieures */
    
   
    right: 17px;
}

/* CSS pour le logo */
.logo {
    width: auto; /* Assurer que le logo ne soit pas déformé */
    height: auto; /* Assurer que le logo ne soit pas déformé */
    max-width: 200px; /* Limiter la largeur maximale du logo */
   /* max-height: 80px; /* Limiter la hauteur maximale du logo */
}
 /* Fin page réalisations */


/* Forcer l'application du CSS sur les mobiles et assurer le plein écran */
@media (max-width: 768px) {
    .video-background video {
        min-width: 100vw;
        min-height: 100vh;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}